/api/bin/
api/obj/api.csproj.nuget.dgspec.json
api/obj/api.csproj.nuget.g.props
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.csproj.CopyComplete
api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.genruntimeconfig.cache
api/obj/Debug/net8.0/api.MvcApplicationPartsAssemblyInfo.cache
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/apphost.exe
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/staticwebassets.build.json
api/obj/Debug/net8.0/staticwebassets/msbuild.build.api.props
api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.api.props
api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.api.props
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/project.packagespec.json
api/obj/rider.project.model.nuget.info
api/obj/rider.project.restore.info
