<h1>International Chatroom</h1>
<h3>Chat with anyone from anywhere in the world!</h3>
<div class="button-container">
  <div *ngFor="let button of buttons"
       [class.active]="selectedChatroomId === button.roomId"
       (click)="selectChatroom(button.roomId)"
       class="button">
    {{ button.name }}
  </div></div>

<div style="margin-bottom: 20px;">Choose username and language!</div>

<div><input [formControl]="username" type="text" id="username" placeholder="Enter your username">

<select id="language">
  <option value="english">English</option>
  <option value="spanish">Spanish</option>
</select>
</div>

<button (click)="clickStart()">Start chatting!</button>
